.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 80vw;
}
